.main_container{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -3;
}

.container_01{
    z-index: -5;
    display: block;
    position: absolute;
    width: 90%;
    height: 90%;

    left: 5%;
    top: 5%;

    border: solid 2px black;
    border-radius: 8px;
    background-color: rgb(68, 73, 76);

    box-shadow: 0 0 10px black;

    overflow: hidden;
}
.container_deco {
    z-index: 1;

    --color1: rgb(78, 87, 94);
    --color2: rgb(66, 93, 116);
    --color3: rgb(78, 87, 94);

    display: block;
    position: absolute;
    width: 20%;
    height: 40%;
    background-color: var(--color1);
    border-radius: 5%;
    right: -5%;
    top: -20%;
    transform: rotate(20deg);
    
    animation-name: deco_pulsing;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: normal;
}

.container_deco:hover {
    --color1: rgb(55, 100, 134);
    --color2: rgb(14, 32, 48);
    --color3: rgb(47, 64, 77);
}

@keyframes deco_pulsing {
    0% {
        background-color: var(--color1);
        transform: rotate(20deg);
    }
    25% {
        background-color: var(--color2);
        transform: rotate(360deg);
    }
    50% {
        background-color: var(--color3);
    }
}


.container_01 div{
    margin-top: 5%;
}

.back_button{
    display: inline-block;
}
.back_button a{
    display: inline-block;
    border: solid black 2px;
    padding: 10px;
    text-decoration: none;
    color: wheat;
    background-color: rgb(38, 44, 49);
    border-radius: 8px;
    box-shadow: 1px 1px 12px gold;

    transition: 0.6s;
}
.back_button a:hover{
    border: solid rgb(255, 255, 255) 2px;
    color: rgb(54, 49, 41);
    background-color: rgb(124, 161, 190);
    box-shadow: 1px 1px 12px rgb(150, 143, 107);
    text-shadow: 1px 1px 4px rgb(247, 247, 247);

    transition: 1s;
}


.container_01_01{
    display: flex;
    flex-direction: column;
    margin: 150px;
    align-items: center;
    justify-content: center;

}

.line{
    display: block;
    position: absolute;
    bottom: 60%;
    width: 500px;
    height: 8px;
    justify-content: space-evenly;    
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.boxes {
    display: block;
    position: relative;
    justify-content: space-evenly;    
    align-items: center;        
    width: 75px;
    height: 25px;
    margin: 5px;
    
    color: white;
    font-weight: bold;       
       
    color: black;
    
}

.box_container{
    background-color: rgb(151, 159, 180);
    width: 75px;
    height: 25px;
    border-radius: 20px 20px 0 0; 
    border: solid black 1px;

}

.box_container:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(108, 108, 182);
    transition: .1s;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
    border: solid rgb(255, 255, 255) 1px;
}

.boxes:hover .box_container{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(108, 108, 182);
    transition: .1s;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
    border: solid rgb(255, 255, 255) 1px;
}

.boxes_text{
    display: block ;
    position: absolute;
    z-index: 6;
    width: 100%;
}

.boxes_container{
    display: flex; 
    position: absolute; 
    bottom: 60%;
}

.sub_boxes_container {
    display: none; 
    position: absolute;
    width: 100%;
    background-color: rgb(108, 108, 182);
    top: 15px;
    z-index: 5;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: opacity 0.1s ease;
    border: solid white 1px;
    border-top: none;
}
.sub_box {
    display: flex; /* Use flex for vertical alignment */
    align-items: center; /* Align text to bottom */
    justify-content: center; /* Center horizontally */
    
    height: 25px;
    margin: 15px 2px;
    padding-bottom: 5px; /* Optional: adds space from bottom */
    
    text-align: center;
    border-radius: 4px;

}

.sub_box:hover{
    color: bisque;
}

.boxes:hover .sub_boxes_container {
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

