.krog{
    display: flex;
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #523f3f;
    box-shadow: 0 0 3px rgb(245, 228, 228);

    
    z-index: 1;

    animation: sij 10s infinite;
}

.krog:hover{
    box-shadow: 0 0 100px rgb(253, 253, 253);
    transition: 1s;
}

@keyframes sij{
    0% {scale: 1.2;}
    50% {scale: 0.3;}
    100% {scale: 1.2;}
}