/* 

crna
#0b0b0b

olivno
#97b002

bež
#ebeddf

zelena
#2c4c2e

*/

body{
    padding: 0;
    margin: 0;

    background-color: #0b0b0b;
    color: #ebeddf;

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

a{
    text-decoration: none;
    color: #ebeddf;
}
a:hover{
    color: #97b002;
}

.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 25px;

    width: 250px;
    height: 250px;
}

.logo_container img{
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {width: 150px; height: 150px;}
    5%  {scale: 1.2; width: 160px; height: 160px; rotate: 25deg;}
    10%  {width: 150px; height: 150px; rotate: -15deg;}
    20%  {scale: 1.0; rotate: 0deg;}
}