/* OZADJE DEKORACIJA */
.ozadje_deco_container{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    z-index: -1;

}
.ozadje_deco{
    display: block;
    position: absolute;

    width: 300px;
    height: 250px;

    background-color: rgb(110, 130, 170);

    border-radius: 10px 20px 30px 40px;
}
.ozadje_deco_1{
    left: 200px;

    background-color: rgb(90, 107, 141);

    transform: rotate(60deg);


    border-radius: 10px 20px 30px 40px;

    animation-name: example1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.ozadje_deco_2{
    left: 800px;
    bottom: 300px;

    background-color: rgb(135, 155, 196);

    transform: rotate(60deg);

    border-radius: 10px 20px 30px 40px;

    animation-name: example2;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.ozadje_deco_3{
    left: 400px;
    top: 400px;

    background-color: rgb(110, 130, 170);

    transform: rotate(80deg);

    border-radius: 10px 20px 30px 40px;

    animation-name: example3;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
@keyframes example1 {
    0% {background-color: rgb(90, 107, 141); transform: rotate(60deg)}
    25%  {background-color: rgb(92, 99, 114); transform: rotate(1000deg)}
    50%  {background-color: rgb(54, 83, 139); transform: rotate(120deg)}
    100% {background-color: rgb(90, 107, 141); transform: rotate(60deg)}
}
@keyframes example2 {
    0% {background-color: rgb(135, 155, 196); left: 800px; transform: rotate(60deg);}
    25%  {background-color: rgb(115, 137, 180); transform: rotate(70deg)}
    50%  {background-color: rgb(90, 113, 158);left: 760px;  }
    100% {background-color: rgb(135, 155, 196); left: 800px; transform: rotate(60deg)}
}
@keyframes example3 {
    0% {background-color: rgb(93, 108, 138); left: 400px; top: 400px;}
    25%  {background-color: rgb(68, 83, 114); left: 380px;}
    50%  {background-color: rgb(110, 130, 170); top: 360px;}
    100% {background-color: rgb(93, 108, 138); }
}